.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

.table{
  padding-top: 50px;

  :global(.ant-table-row):hover{
    cursor: pointer;
    color: #1677ff;
  }
}