.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

.deletedBlock{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 100%;

  display: flex;
  gap: 44px;
  align-items: center;
}

.count{
  margin-left: 5px;
}

.table{
  padding-top: 50px;
}